/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    background-color: #36454F;
    color: white;
    padding: 20px 0;
}

header input {
    padding: 10px;
    width: 40%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Community Section */
#communitySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.community-card {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.community-card h2 {
    color: #333;
    font-size: 24px;
}

.community-card p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

.community-card button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.community-card button:hover {
    background-color: #357abd;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
}
